<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('./partials/head.ejs') %>

<body>
  <!-- nav -->
  <%- include('./partials/nav.ejs') %>

    <div class="blogs content">
        <h2>404 Pages</h2>
    </div>

      <!-- footer -->
      <%- include('./partials/footer.ejs') %>
</body>
</html>