<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('./partials/head.ejs') %>

<body>
  <!-- nav -->
  <%- include('./partials/nav.ejs') %>
    


    <div class="blogs content">
   <h1>About page</h1>


        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi, reiciendis alias? Sequi necessitatibus placeat expedita tempore tenetur pariatur dolor quas deleniti unde incidunt repudiandae suscipit, quia rem sit praesentium cumque.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi, reiciendis alias? Sequi necessitatibus placeat expedita tempore tenetur pariatur dolor quas deleniti unde incidunt repudiandae suscipit, quia rem sit praesentium cumque.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi, reiciendis alias? Sequi necessitatibus placeat expedita tempore tenetur pariatur dolor quas deleniti unde incidunt repudiandae suscipit, quia rem sit praesentium cumque.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi, reiciendis alias? Sequi necessitatibus placeat expedita tempore tenetur pariatur dolor quas deleniti unde incidunt repudiandae suscipit, quia rem sit praesentium cumque.</p>
     
    </div>

          <!-- footer -->
          <%- include('./partials/footer.ejs') %>
</body>
</html>